new BlockItem(BlockObjectHolder.{blockname}, new BlockItem.Properties().group(Ironagefurniture.IAF_GROUP)).setRegistryName(Ironagefurniture.MODID, BlockObjectHolder.{blockname}.getRegistryName().getPath()),