{{
  "variants": {{
    "half=bottom,variant=default": {{
      "model": "{modid}:{materialname}_half_slab"
    }},
    "half=top,variant=default": {{
      "model": "{modid}:{materialname}_upper_slab"
    }}
  }}
}}