{{
  "type": "minecraft:crafting_shaped",
  "group": "furniture",
  "pattern": [
    " x ",
    "yyy",
    "yyy"
  ],
  "key": {{
    "y": {{
      "item": "minecraft:stick"
    }},
  "x": {{
    "item": "{ingredient1}"
  }}}},
    "result": {{
        "item": "{modid}:{blockname}",
        "count": 1
    }}
}}