{{
  "type": "forge:conditional",
  "recipes": [
    {{
      "conditions": [
        {{
          "modid": "{domain}",
          "type": "forge:mod_loaded"
        }}
  ],
  "recipe": {{
    "type": "minecraft:crafting_shaped",
    "group": "furniture",
    "pattern": [
      "xxx"
    ],
    "key": {{
      "x": {{
      "item": "{ingredient2}"
    }}}},
		"result": {{
			"item": "{modid}:{blockname}",
			"count": 3
		}}
      }}
   }}
  ]
}}

