{{
    "parent": "{modid}:block/half_slab",
    "textures": {{
        "bottom": "{modid}:{blocktexturefolder}/{materialname}{topsuffix}",
        "top": "{modid}:{blocktexturefolder}/{materialname}{topsuffix}",
        "side": "{modid}:{blocktexturefolder}/{materialname}{sidesuffix}"
    }}
}}
