{{
    "parent": "block/orientable",
    "textures": {{
        "top": "{modid}:{blocktexturefolder}/{blockname}{topsuffix}",
        "front": "{modid}:{blocktexturefolder}/{blockname}_front_on",
        "side": "{modid}:{blocktexturefolder}/{blockname}{sidesuffix}"
    }}
}}
