{{
    "parent": "block/stairs_normal",
    "textures": {{
      "face": "{modid}:{blocktexturefolder}/{materialname}{topsuffix}",
      "side": "{modid}:{blocktexturefolder}/{materialname}{sidesuffix}"
    }}
}}
