{{
  "parent": "block/stairs",
  "textures": {{
    "bottom": "{modid}:blocks/{materialname}{topsuffix}",
    "top": "{modid}:blocks/{materialname}{topsuffix}",
    "side": "{modid}:blocks/{materialname}{sidesuffix}"
  }}
}}