{{
  "parent": "block/upper_slab",
  "textures": {{
    "bottom": "{modid}:blocks/{materialname}_planks",
    "top": "{modid}:blocks/{materialname}_planks",
    "side": "{modid}:blocks/{materialname}_planks"
  }}
}}