{{
    "parent": "{modid}:block/brick",
    "textures": {
      "top": "{modid}:{modid}:{blocktexturefolder}/{blockname}{topsuffix}",
      "bottom": "{modid}:{blocktexturefolder}/{blockname}{topsuffix}",
        "side": "{modid}:{modid}:{blocktexturefolder}/{blockname}{sidesuffix}"
    }}
}}
