{{
    "parent": "block/orientable",
    "textures": {{
        "top": "{modid}:{blocktexturefolder}/{materialname}{topsuffix}",
        "front": "{modid}:{blocktexturefolder}/{blockname}_front_off",
        "side": "{modid}:{blocktexturefolder}/{materialname}{sidesuffix}"
    }}
}}
