{{
                                "parent": "{modid}:block/stairs_inner",
                                "textures": {{           
                                    "face": "{modid}:{blocktexturefolder}/{materialname}{topsuffix}",
                                    "side": "{modid}:{blocktexturefolder}/{materialname}{sidesuffix}"
                                }}
                            }}