{{
    "parent": "{modid}:block/stairs_normal",
    "textures": {{
      "face": "{modid}:{blocktexturefolder}/{blockname}{topsuffix}",
      "side": "{modid}:{blocktexturefolder}/{blockname}{sidesuffix}"
    }}
}}
