{{
	"variants": {{
		"facing=north": {{ "model": "{modid}:{blockname}" , "y": 180}},
		"facing=east":  {{ "model": "{modid}:{blockname}" ,"y": 270 }},
		"facing=south": {{ "model": "{modid}:{blockname}"  }},
		"facing=west":  {{ "model": "{modid}:{blockname}" , "y": 90 }}
	}}
}}