{{
                                "parent": "block/inner_stairs",
                                "textures": {{
                                    "bottom": "{modid}:{blocktexturefolder}/{materialname}",
                                    "top": "{modid}:{blocktexturefolder}/{materialname}",
                                    "side": "{modid}:{blocktexturefolder}/{materialname}"
                                }}
                            }}