{{
                                    "variants": {{
                                        "": [
                                            {{ "model": "{modid}:block/{blockname}" }}
                                        ]
                                    }}
                                  }}